header {
  height: 296px;
  background-image: url(../images/gridlines.png), url(../images/contours-opaque.png), url(../images/huntington.jpg);
  background-size: initial, cover, cover;
  background-repeat: repeat, rep, no-repeat;
  background-position: initial, center, top top; }
