@import url('https://fonts.googleapis.com/css?family=Lora:400i|Open+Sans:300,300i,400,400i,700,800');
* {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL LAYOUT STYLES */

.rightFloat {
    float: right;
}

.leftFloat {
    float: left;
}

.container,
.mainContainer {
    padding: 0 4%;
}

@media only screen and (min-width: 600px) {
    .mainContainer {
        width: 65%;
        margin: 0 auto;
    }
}