@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
* {
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
