body{
    font-family: sans-serif;
}
.container{
    width: 85%;
    margin: auto;
    height: 12.5rem;
}
.box{
    background-color: brown;
    margin: auto;
    margin-top: .5em;
    width: 40%;
    height: 400px;
}
.center-text{
    text-align: center;
}