* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;    
}

.container{
    max-width: 85%;
    margin: auto;
    /* white-space: nowrap; */
}

/* layout */

.column-third {
    width: 33%;
    height: 266px;
    display: inline-block;
    /* background-color: pink; */
    border: 1px solid black;
}
/* france */
.france{
    width: 33.33%;
    height: 100%;
    /* background-color: pink; */
}
.france-left{
    background-color: #082396;
}
.france-mid{
    background-color: white;
}
.france-right{
    background-color: #ed2a3a;
}
/* germany */
.germany{
    width: 100%;
    height: 33%;
}
.germany-top{
    background-color: black;
}
.germany-mid{
    background-color: #dc0000;
}
.germany-bottom{
    background-color: #fece00;
}
/* madagascar */
.madagascar-left{
    width: 33.33%;
    height: 100%;
    margin-right: 0;
    background-color: white;
}
.madagascar-right{
    width: 66.66%;
    height: 100%;
}
.madagascar-right-top{
    width: 100%;
    height: 50%;
    background-color: #fc3d33;
}
.madagascar-right-bottom{
    width: 100%;
    height: 50%;
    background-color: #017e3c;
}
/* switzerland */

/* switzerland top */

.switzerland-top{
    height: 37.5%;
}
.switzerland-top-left{
    width: 40%;
    height: 100%;
    background-color: red;
}
.switzerland-top-mid{
    width: 20%;
    height: 100%;
}
.switzerland-top-mid-top{
    width: 100%;
    height: 40%;
    background-color: #fe0000;
}
.switzerland-top-mid-bottom{
    width: 100%;
    height: 60%;
    background-color: white;
}
.switzerland-top-right{
    width: 40%;
    height: 100%;
    background-color: #fe0000;
}
/* switzerland mid */
.switzerland-mid{
    height: 25%;
}
.switzerland-mid-1{
    width: 20%;
    height: 100%;
    background-color: #fe0000;
}
.switzerland-mid-2{
    width: 60%;
    height: 100%;
    background-color: white;
}
.switzerland-mid-3{
    width: 20%;
    height: 100%;
    background-color: #fe0000;
}
/* switzerland bottom */
.switzerland-bottom{
    height: 37.5%;
}
.switzerland-bottom-left{
    width: 40%;
    height: 100%;
    background-color: #fe0000;
}
.switzerland-bottom-mid{
    width: 20%;
    height: 100%;
}
.switzerland-bottom-mid-bottom{
    width: 100%;
    height: 40%;
    background-color: #fe0000;
}
.switzerland-bottom-mid-top{
    width: 100%;
    height: 60%;
    background-color: white;
}
.switzerland-bottom-right{
    width: 40%;
    height: 100%;
    background-color: #fe0000;
}

/* Sweden */
.sweden{
    background-color: blue;
}
.sweden-top{
    height: 40%;
}
.sweden-top-left{
    height: 100%;
    width: 30%;
    background-color: #006aa6
}
.sweden-top-mid{
    height: 100%;
    width: 15%;
    background-color: #fdcc03
}
.sweden-top-right{
    height: 100%;
    width: 55%;
    background-color: #006aa6
}
.sweden-mid{
    width: 100%;
    height: 20%;
    background-color: #fdcc03;
}
.sweden-bottom{
    height: 40%;
}
.sweden-bottom-left{
    height: 100%;
    width: 30%;
    background-color: #006aa6
}
.sweden-bottom-mid{
    height: 100%;
    width: 15%;
    background-color: #fdcc03
}
.sweden-bottom-right{
    height: 100%;
    width: 55%;
    background-color: #006aa6
}

/* Gambia */

.gambia-1{
    width: 100%;
    height: 35%;
    background-color: #cd1026;
}
.gambia-2{
    width: 100%;
    height: 5%;
}
.gambia-3{
    width: 100%;
    height: 20%;
    background-color: #0c1c8d;
}
.gambia-4{
    width: 100%;
    height: 5%;
}
.gambia-5{
    width: 100%;
    height: 35%;
    background-color: #3a7729;
}

/* Tonga */
#tonga{
    background-color: #c10100;
    line-height: 2;
}
.tonga-top{
    width: 100%;
    height: 45%;
}
.tonga-top-left{
    width: 40%;
    height: 100%;
    background-color: white;
}
.tonga-corner-top-row-1{
    width: 100%;
    height: 15%;
}
.tonga-corner-top-row-2{
    width: 100%;
    height: 20%;
}
.tonga-corner-top-row-2-left{
    width: 40%;
    height: 100%;
}
.tonga-corner-top-row-2-mid{
    width: 20%;
    height: 100%;
    background-color: #c10100;
}
.tonga-corner-top-row-2-right{
    width: 40%;
    height: 100%;
}
.tonga-corner-top-row-3{
    width: 100%;
    height: 30%;
}
.tonga-corner-top-row-3-left{
    width: 25%;
    height: 100%;
}
.tonga-corner-top-row-3-mid{
    width: 50%;
    height: 100%;
    background-color: #c10100;
}
.tonga-corner-top-row-3-right{
    width: 25%;
    height: 100%;
}
.tonga-corner-top-row-4{
    width: 100%;
    height: 20%;
}
.tonga-corner-top-row-4-left{
    width: 40%;
    height: 100%;
}
.tonga-corner-top-row-4-mid{
    width: 20%;
    height: 100%;
    background-color: #c10100;
}
.tonga-corner-top-row-4-right{
    width: 40%;
    height: 100%;
}
.tonga-corner-top-row-5{
    width: 100%;
    height: 15%;
}
.tonga-top-right{
    width: 60%;
    height: 100%;
}
.tonga-bottom{
    width: 100%;
    height: 55%;
}
/* Japan */

.japan-middle{
    position: relative;
    top: 12%;
    left: 25%;
    width: 50%;
    height: 75%;
    border-radius: 100%;
    background-color: #bb002d;
}
.i-b{
    display: inline-block;
}
.title{
    display: inline-block;
    width: 33%;

}
.no-wrap{
    white-space: nowrap;
}