body{
    background-color: #111111;
}
h1 {
    color: #E2E80F;
}
p {
    color: #eeeeee;
    font-size: 1.5rem;
    line-height: 2rem;
}
.credits{
    text-decoration: underline;
    color: #49DAFF;
}
.credits:hover{
    cursor: pointer;
}
#film-description{
    font-style: italic;
}