* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

/* MOBILE LAYOUT */

a {
    text-decoration: none;
    color: black;
}

header {
    /* height: 300px; */
    background-size: cover;
    color: white;
    margin-bottom: 9px;
}

/* LAYOUT */

.row-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
}

.column-parent {
    display: flex;
    flex-direction: column
}

.flex-item {
    display: flex;
}

.container {
    max-width: 90%;
    margin: auto;
}

/* ----------------------- */

/* Re-Usable Modifiers */

.fl-center {
    justify-content: center;
}

.hidden {
    display: none;
}

.dis-b {
    display: block;
}

/* Header */

#top-nav {
    height: 30px;
}

#top-nav ul a:first-child{
    font-weight: 400;
}

.nav-links {
    width: 20%;
    padding-top: 0px;
    text-align: center;
}

.nav-links a {
    display: block;
    /* color: white; */
    font-weight: 100;
    transition: all ease-in 100ms;
    padding-top: 8px;
    padding-bottom: 4px;
}

.nav-links a:hover {
    /* border-bottom: 1px solid white; */
    background-color: gray;
}

nav li {
    padding-top: 5px;
    float: left;
    height: 30px;
}


.hamburger {
    width: 10%;
    height: 20px;
    /* background-color: white; */
    float: right;
}

.hamburger:hover {
    cursor: pointer;
}

.ham {
    position: relative;
    bottom: 5px;
}

.hidden-nav {
    display: none;
    /* height: 270px; */
    /* background-color: #091126; */
    /* transition: all ease-in 250ms; */
}

.hidden-nav-links {
    width: 100%;
    padding-left: 6px;
}

/* HERO IMAGE */

#hero {
    background-image: url('../img/guitar-hero.jpg');
    background-size: cover;
    height: 250px;
    box-shadow: inset 0 0 0 1000px rgba(1, 1, 1, .5);
}

.hero-header {
    color: white;
    font-weight: 100;
}

.hero-text {
    padding-top: 3rem;
    color: white;
}

.title {
    text-align: center;
    font-weight: 200;
}

.sub-title {
    text-align: center;
    font-weight: 100;
}

.download {
    position: relative;
    top: 2rem;
    left: 32%;
    border-style: none;
    border-radius: 15px;
    width: 9rem;
    height: 2rem;
    font-size: 15px;
    transition: all ease-in 100ms;
}

.download:hover {
    background-color: #2a3f50;
    color: white;
    cursor: pointer;
}

/* MAIN */

.main-section {
    width: 100%;
    height: 200px;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 24px 5px #E5E5E5;
}

.main-section.last {
    /* background-color: pink; */
    height: 250px;
}

.main-section h3 {
    height: auto;
    text-align: center;
    font-weight: 100;
    padding-top: 1rem;
}

.main-section p {
    height: auto;
    font-weight: 100;
    font-family: sans-serif;
    padding: 2rem;
}

.section-icons {
    /* text-align: center; */
    font-size: 5rem;
    opacity: .6;
}

#contract {
    height: 300px;
    text-align: center;
}

.contract-text {
    /* width: 66.66%; */
    text-align: center;
}

.contract-icon {
    position: relative;
    left: 40%;
    ;
    width: 20%;
    padding-top: 2rem;
    color: blue;
}

.contract-icon span {
    text-align: center;
}

#stats {
    height: 300px;
    text-align: center;
}

/* .stats-text{
    width: 75%;
    position: relative; 
    text-align: right;
    border: 1px solid black;
} */

.stats-icon {
    padding-top: 2rem;
    color: red;
}

.distro-text {
    text-align: center;
}

.distro-images {
    position: relative;
    bottom: 17px;
    width: 80%;
    margin: auto;
}

.itunes-image {
    width: 25%;
    height: auto;
    margin-right: 5px;
}

.apple-music-image {
    width: 25%;
    height: auto;
    margin-right: 5px;
}

.deezer-image {
    width: 25%;
    height: auto;
    margin-right: 5px;
}

.google-image {
    width: 30%;
    height: auto;
}

.tidal-image {
    width: 15%;
}

/* FOOTER */

footer {
    width: 100%;
    height: 100px;
    background-color: #060e21;
    color: white;
    margin-top: 1rem;
}